.popup__login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
  padding-top: 60px;
}

.login__title {
  margin: 0 0 48px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  width: 358px;
  text-align: center;
}
@media (max-width: 570px) {
  .login__title {
    font-size: 20px;
    line-height: 25px;
    width: 290px;
  }
}
@media (max-width: 470px) {
  .login__title {
    font-size: 18px;
    line-height: 22px;
    width: 238px;
  }
}
.login__submit-btn {
  width: 358px;
  height: 50px;
  color: #000000;
  background-color: #ffffff;
  margin: 216px 0 0;
  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.login__submit-btn:hover:enabled {
  opacity: 0.8;
  transition-duration: 0.5s;
  cursor: pointer;
}
@media (max-width: 570px) {
  .login__submit-btn {
    width: 290px;
  }
}
@media (max-width: 470px) {
  .login__submit-btn {
    width: 238px;
    font-size: 14px;
    line-height: 16.94px;
  }
}

.login__input-text {
  background-color: inherit;
  width: 358px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #cccccc;
  color: #cccccc;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 570px) {
  .login__input-text {
    width: 290px;
  }
}
@media (max-width: 470px) {
  .login__input-text {
    width: 238px;
  }
}

.register__question {
  font-weight: normal;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
  margin-right: 5px;
}

.register__entryButton {
  margin-left: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.register__entryButton:hover {
  cursor: pointer;
}
