@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url("./blocks/root/root.css");
@import url("./blocks/content/content.css");
@import url("./blocks/opacity/opacity.css");
@import url("./blocks/title-cutter/title-cutter.css");
@import url("./blocks/margin/margin.css");
@import url("./blocks/wrapper/wrapper.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__inputs/popup__inputs.css");
@import url("./blocks/popup/__input-text/popup__input-text.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__submit-btn/popup__submit-btn.css");
@import url("./blocks/popup/popup__close-cross/popup__close-cross.css");
@import url("./blocks/popup/__error/popup__error.css");
@import url("./blocks/popup/__error/_active/popup__error_active.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/lead/lead.css");
@import url("./blocks/lead/__button/lead__button.css");
@import url("./blocks/lead/__image/lead__image.css");
@import url("./blocks/lead/__subtitle/lead__subtitle.css");
@import url("./blocks/lead/__title/lead__title.css");
@import url("./blocks/lead/__titles/lead__titles.css");
@import url("./blocks/lead/__wrapper-titles/lead__wrapper-titles.css");
@import url("./blocks/lead/__wrapper-title/lead__wrapper-title.css");
@import url("./blocks/lead/__pencil/lead__pencil.css");
@import url("./blocks/lead/__avatarButton/lead__avatarButton.css");
@import url("./blocks/foto-grid/foto-grid.css");
@import url("./blocks/foto-grid/__urn/foto-grid__urn.css");
@import url("./blocks/foto-grid/__name/foto-grid__name.css");
@import url("./blocks/foto-grid/__likesQty/foto-grid__likesQty.css");
@import url("./blocks/foto-grid/____likesBlock/foto-grid__likesBlock.css");
@import url("./blocks/foto-grid/__name-title/foto-grid__name-title.css");
@import url("./blocks/foto-grid/__name-heart/foto-grid__name-heart.css");
@import url("./blocks/foto-grid/__name-heart/_black/foto-grid__name-heart_black.css");
@import url("./blocks/foto-grid/__card/foto-grid__card.css");
@import url("./blocks/foto-grid/__item/foto-grid__item.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");
@import url("./blocks/foto-open/foto-open.css");
@import url("./blocks/foto-open/__container/foto-open__container.css");
@import url("./blocks/foto-open/__image/foto-open__image.css");
@import url("./blocks/foto-open/__name/foto-open__name.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__submit-btn/_disabled/popup__submit-btn_disabled.css");
@import url("./blocks/foto-grid/__urn/__urn_show/foto-grid__urn_show.css");
@import url("./blocks/backgroundSpinner/backgroundSpinner.css");
@import url("./blocks/backgroundSpinner/__spinner/backgroundSpinner__spinner.css");
